<div class='container'>
<h1>Editing person</h1>

<%= render "form", person: @person %>

<br>
<div class='d-flex'>
  <%= button_to "Back", root_url, method: :get, class: "btn btn-sm btn-dark mx-2" %>
  <%= button_to "Dele", person_path, method: :delete, class: "btn btn-sm btn-dark mx-2" %>

</div>

</div> 
